.review{
    width: 60%;
    margin: 50px auto;
    border: 2px solid rgba(170, 170, 170, 0.548);
    padding: 40px 20px;
    border-radius: 5px;
}

.fa-star{
    color:rgb(252, 138, 118);
}

@media only screen and (max-width:900px) {
    .review{
        width: 100%;
    }
}